/*
 * File Name:   faqs-styles.css
 * Names:       Adrian Perez Rosado, Lucas Kizirian Rangel
 * Course:      COP 2822C at Valencia College
 * Professor:   David Stendel 
 * Description: This is the CSS file for the faqs page.
 * Date:        11/27/2023
 */

/* Style Rules For FAQs Page */

/* Style Rules For Mobile Viewport */
/* Style Rules For Main */
main {
  display: flex;
  padding: 2em 1.5em;
  padding-bottom: 4em;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style Rules For Image Boxes */
.box {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #c9c9c9;
  box-shadow: 5px 5px 5px #00000042;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 10px;
}

/* Media Query For Tablet Viewport */
@media screen and (min-width: 550px), print {
  
  /* Tablet Viewport: Style Rules For Boxes */
  .box {
    width: min(39vw, 280px);
  }
}